.google-play-button,
.app-store-button {
    border: 1px solid whitesmoke;
    padding: 10px 15px;
    border-radius: 28px;
    background-color: whitesmoke;
    color: #5100af;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 1s all;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    * {
        margin: 0;
    }

    
    & a {
        text-decoration: none;
    }
}